*{
    margin: 0;
    padding: 0;
}

.cabecalho{
   padding: 15px 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color:rgb(138, 123, 168);
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    mim-height: 100vh;
    background-color: rgb(19, 181, 240);
}

main{
    flex: 1;
}

.cabecalho-link{
    color:rgb(73, 179, 200);
    text-decoration: none;
}

h1 {
    color:rgb(11, 100, 96)
}